@tailwind base;
@tailwind components;
@tailwind utilities;

iframe {
  aspect-ratio: 16 / 9;
  z-index: 20;
}

/* html {
    overflow: hidden;
    height: 100%;
}*/

/* body {
    height: 100%;
    overflow: auto;
}  */

.card {
  transform-style: preserve-3d;
  transition: 500ms;
}

.back {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
}

.card-wrap:hover .card {
  transform: perspective(1000px) rotateY(180deg);
}

/* os cards da landing page aumentarem de tamanho com hover */